*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  scroll-margin-top: 84px;
}

.main-color {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.underline {
  width: 60px;
  height: 3px;
  margin: 5px auto 40px;
  background-color: #039dff;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

nav {
  text-transform: uppercase;
  transition: background-color 0.4s;
  z-index: 1000;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show,
nav .navbar-brand:focus,
nav .navbar-brand:hover,
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active:hover {
  color: #039dff;
}
nav .nav-link,
nav .navbar-brand,
nav .fa-bars {
  color: #fff;
}
nav .navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.2s;
}
nav .navbar-toggler {
  border: 1px solid #fff;
  font-size: 30px;
  padding: 10px 15px;
}

header.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/header/ps-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
header.hero-img .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  text-align: center;
  color: #fff;
}
header.hero-img .hero-text h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header.hero-img .hero-text a {
  margin-top: 15px;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s;
}
header.hero-img .hero-text a:hover {
  background-color: #fff;
  color: #333;
}
header.hero-img a.icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  color: #fff;
  font-size: 30px;
  z-index: 1;
}

.about-us .about-us-card,
.about-us .about-us-hero-card,
.about-us-hero .about-us-card,
.about-us-hero .about-us-hero-card {
  margin: 20px 0;
}
.about-us .about-us-card .about-us-card-title,
.about-us .about-us-card .about-us-hero-card-title,
.about-us .about-us-hero-card .about-us-card-title,
.about-us .about-us-hero-card .about-us-hero-card-title,
.about-us-hero .about-us-card .about-us-card-title,
.about-us-hero .about-us-card .about-us-hero-card-title,
.about-us-hero .about-us-hero-card .about-us-card-title,
.about-us-hero .about-us-hero-card .about-us-hero-card-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.about-us .about-us-card i,
.about-us .about-us-hero-card i,
.about-us-hero .about-us-card i,
.about-us-hero .about-us-hero-card i {
  margin: 10px 0 15px;
  font-size: 30px;
}

.about-us .about-us-card {
  transition: color 0.3s;
}
.about-us .about-us-card-title {
  text-transform: uppercase;
}
.about-us .about-us-card:hover {
  color: #039dff;
}

.about-us-hero {
  position: relative;
  padding: 50px 0;
  background-image: url("../img/main/about-us/processor-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  z-index: 1;
}
.about-us-hero .hero-shadow {
  background-color: rgba(0, 0, 0, 0.65);
}

@media (width >= 430px) {
  header.hero-img .hero-text {
    gap: 10px;
  }
}
@media (width >= 768px) {
  header.hero-img .hero-text h1 {
    font-size: 40px;
  }
  header.hero-img .hero-text p {
    font-size: 20px;
  }
  header.hero-img .hero-text a {
    font-size: 18px;
  }
}
@media (width >= 992px) {
  section {
    scroll-margin-top: 72px;
  }
  header.hero-img {
    background-image: url("../img/header/ps-big.jpg");
  }
  .about-us-hero {
    background-image: url("../img/main/about-us/processor-big.jpg");
  }
}/*# sourceMappingURL=style.css.map */