@use './colors' as *;
@use 'reset';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

section {
	scroll-margin-top: 84px;
}

.main-color {
	color: $primary;
}

.shadow-bg {
	background-color: $shadow;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.underline {
	width: 60px;
	height: 3px;
	margin: 5px auto 40px;
	background-color: $primary;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $shadow;
	z-index: -1;
}

nav {
	text-transform: uppercase;
	transition: background-color 0.4s;
	z-index: 1000;

	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show,
	.navbar-brand:focus,
	.navbar-brand:hover,
	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active:hover {
		color: $primary;
	}

	.nav-link,
	.navbar-brand,
	.fa-bars {
		color: $white;
	}

	.navbar-brand {
		font-weight: bold;
		letter-spacing: 1px;
		transition: color 0.2s;
	}

	.navbar-toggler {
		border: 1px solid $white;
		font-size: 30px;
		padding: 10px 15px;
	}
}

header.hero-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../img/header/ps-small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 1;

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		padding: 0 20px;
		text-align: center;
		color: $white;

		h1 {
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		a {
			margin-top: 15px;
			padding: 10px 20px;
			color: $white;
			border: 1px solid $white;
			border-radius: 15px;
			text-transform: uppercase;
			transition: color 0.2s, background-color 0.2s;
		}

		a:hover {
			background-color: $white;
			color: $dark;
		}
	}

	a.icon {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		padding: 5px 10px;
		color: $white;
		font-size: 30px;
		z-index: 1;
	}
}

.about-us,
.about-us-hero {
	.about-us-card,
	.about-us-hero-card {
		margin: 20px 0;

		.about-us-card-title,
		.about-us-hero-card-title {
			margin-bottom: 5px;
			font-size: 18px;
			font-weight: 500;
		}

		i {
			margin: 10px 0 15px;
			font-size: 30px;
		}
	}
}

.about-us {
	.about-us-card {
		transition: color 0.3s;
	}

	.about-us-card-title {
		text-transform: uppercase;
	}

	.about-us-card:hover {
		color: $primary;
	}
}

.about-us-hero {
	position: relative;
	padding: 50px 0;
	background-image: url('../img/main/about-us/processor-small.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: $light-grey;
	z-index: 1;

	.hero-shadow {
		background-color: $shadow-light;
	}
}

.portfolio-carousel {
	display: none;
}

.prices {
	.price-box {
		box-shadow: 5px 5px 10px $shadow-light;
		transition: transform 0.2s;
	}

	.price-box:hover {
		transform: scale(1.03);
	}

	.price-box-title {
		font-size: 18px;
		text-transform: uppercase;
		color: $primary;
	}

	.price-box p:last-of-type {
		color: $dark;
		font-weight: bold;
		font-size: 30px;
	}

	.price-box-underline {
		width: 70%;
		height: 0px;
		border: 1px solid $light-grey;
		margin: 10px auto;
		background-color: $dark;
	}

	.price-box-text {
		padding: 10px 0;

		span {
			font-weight: bold;
			margin-right: 3px;
		}

		i {
			padding: 0 3px;
			font-size: 20px;
		}
	}

	button {
		margin-top: 10px;
		padding: 10px 20px;
		text-transform: uppercase;
	}

	.price-info {
		padding: 10px 0;

		a {
			text-decoration: none;
		}
	}
}

.team {
	position: relative;
	background-image: url('../img/main/team/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 1;

	.section-title {
		color: $light-grey;
	}

	.card {
		transition: transform 0.3s;

		.card-title {
			text-transform: uppercase;
			text-align: center;
			font-weight: 500;
			padding-bottom: 10px;
		}
		
		.card-body {
			height: 160px;
		}
		
		.card-footer {
			a {
				padding: 5px 10px;
			}
		}

		img {
			height: 200px;
			object-fit: cover;
		}
	}

	.card:hover {
		transform: scale(0.96);
	}
}

@media (width >= 430px) {
	header.hero-img {
		.hero-text {
			gap: 10px;
		}
	}
}

@media (width >= 768px) {
	header.hero-img {
		.hero-text {
			h1 {
				font-size: 40px;
			}

			p {
				font-size: 20px;
			}

			a {
				font-size: 18px;
			}
		}
	}

	.prices {
		.price-box-underline {
			width: 80%;
		}
	}

	.team {
		.card {
			img {
				height: 300px;
			}
		}
	}
}

@media (width >= 992px) {
	section {
		scroll-margin-top: 72px;
	}

	header.hero-img {
		background-image: url('../img/header/ps-big.jpg');
	}

	.about-us-hero {
		background-image: url('../img/main/about-us/processor-big.jpg');
	}

	.portfolio-card-group {
		display: none;
	}

	.portfolio-carousel {
		display: block;
		margin: 0 auto;
		width: 70vw;
		max-width: 900px;
		height: auto;

		.carousel-caption {
			left: 0;
			bottom: 10px;
			width: 100%;
			padding: 20px 0;
			background-color: $shadow;

			h5 {
				padding-bottom: 5px;
			}

			p {
				padding-bottom: 20px;
			}
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			border-radius: 50%;
			background-color: $dark;
		}
	}
}
